---
interface Props {
  text: string;
  author: string;
}

const { text, author } = Astro.props;
---

<div class="testimonial">
  <p class="testimonial-text">{text}</p>
  <span class="testimonial-author">{author}</span>
</div>
